.Polaris-ResourceItem:hover, .Polaris-ResourceItem:active {
  background-image: none !important;
  cursor: auto;
}

.Polaris-Thumbnail{
  border: none !important;
  background: none !important;
}

@media print {
  .Polaris-Button {
    display: none;
  }
}
